
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
</head>
<body>
<div>
<a href="{%url "gal:upload"%}"> upload new images </a>
</div>
<div>

search By tag:<input type="text" name="tag" id="tag">
<input type="button" value="search" onclick="search()">
</div>
<div>
 {% if type == "search" %}
        <a href="/app/images/1">all images</a>
        {% endif %}
</div>
    <div>
        {% for i in images %}
        <span>
        <img src="/media/{{i.images}}" height="100"/>
        <a>{{i.tag}}</a>
        <a href="/app/image/{{i.id}}">Watch Image</a>
        </span>
         {% endfor %}
       
       
    </div>
    <div>
     {% for i in pages %}
        <span>
       {% if type == "search" %}
        <a href="/app/search/{{tag}}/{{i}}">{{i}}</a>
        {% else %}
        <a href="/app/images/{{i}}">{{i}}</a>
        {% endif %}
        </span>
        
         {% endfor %}</div>
</body>
<script>
    var search = ()=>{
       var tag= document.getElementById("tag").value;
       location.href=`/app/search/${tag}/1`;
    }
</script>
</html>